/vendor/
/.phpunit.cache/
/composer.lock
/out/
/tmp/
/tests/Fixtures/private/*
!/tests/Fixtures/private/.gitkeep
!/tests/Fixtures/private/README.md
/examples/private/*
!/examples/private/.gitkeep
!/examples/private/README.md
